<div class="container-fluid">

    <div class="col-xs-2"></div>
    <div class="col-xs-8">

        <span ng-repeat="prod in cartItems">

        <img class="imageProduct" ng-src="{{prod.Image}}" alt="Bouteille de Ricard">
        <p class="priceProduct">${{prod.Price}}</p>
            <p>{{prod.quantity}}</p>
            <button ng-click="addingItem(prod)">+</button>
            <button ng-click="removingItem(prod)">-</button>


        </span>


    </div>
    <div class="col-xs-2"></div>


</div>
